body {
	font-family: 'Droid Sans', sans-serif;
	font-family: 'Inconsolata', monospace;
	background: #f4eeee;
	color: #6a6666;
	font-size: 18px
}


a {
	color: #2717d3;

	&:visited {
		color: #2717d3;
	}
}
