.check {

  label {

    img {
      border: 3px solid #f5cbc6;
      max-width: 200px;
      display: block;
    }
  }

  input[type=checkbox] {
    display: none;
    &:checked + img {
      border: 3px solid #c4a29e;
    }
  }
}
