h1 {
  font-size: 36px;
  //@include breakpoint(md) { font-size: 48px; }
  //@include breakpoint(lg) { font-size: 54px; }
}

h2 {
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  color: #3b3939;
  @include breakpoint(md) { font-size: 34px; }
  @include breakpoint(lg) { font-size: 38px; }
}

h3 {
  font-size: 18px;
  line-height: 25px;
  color: #3b3939;
  font-family: 'Inconsolata', monospace;
  @include breakpoint(md) { font-size: 22px; }
  @include breakpoint(lg) { font-size: 26px; }
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}


p {
  line-height: 1.5;
}

// Big opening paragraphs
.lead {
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  @include breakpoint(md) { font-size: 24px; }
  @include breakpoint(lg) { font-size: 26px; }
}

// For small text

.text-small {
  font-size: 14px !important;
}

.cause-name {
  font-size: 20px;
  color: #2717d3;
}

.number {
  font-family: 'Knewave', cursive;
  font-size: 60px;
  letter-spacing: .1em;
  margin-bottom: 20px;
  color: #3b3939;
  @include breakpoint(md) {
    font-size: 100px;
  }
  @include breakpoint(lg) {
    font-size: 150px;
  }
}

.text-large {
  font-size: 24px;
  color: #3f3d3d;
  @include breakpoint(md) {
    font-size: 30px;
  }
}

.btn {
  padding: 10px 15px;
  color: #fff;
  background: #2717d3;
  text-decoration: none;

  &:hover {
    background: darken(#2717d3, 20%);
  }
}

.price-explanation {
  font-size: 14px;
}

.title {
  color: #a09c9c;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.subtle {
  color: #999;
  font-size: 75%;
}

.nav-links, .content {
  a, a:link, a:visited, a:active {
    color: #C27770;
    text-decoration: none;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
  }
}

.nav-links {
  font-size: 16px;

  a:hover, a:focus, .selected a {
    color: #f5cbc6;
  }
}

.subtle {
  display: inline-block;
  vertical-align: top;
}

.title, .nav-links {
  display: inline-block;
}
