h1 {
  font-size: 36px;
  font-family: 'Inconsolata', monospace;
  //@include breakpoint(md) { font-size: 48px; }
  //@include breakpoint(lg) { font-size: 54px; }
}

h2 {
  font-size: 28px;
  font-family: 'Inconsolata', monospace;
  @include breakpoint(md) { font-size: 34px; }
  @include breakpoint(lg) { font-size: 38px; }
}

h3 {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
  @include breakpoint(md) { font-size: 20px; }
  @include breakpoint(lg) { font-size: 22px; }
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}


p {
  line-height: 1.5;
  color: #989494;
}

// Big opening paragraphs
.lead {
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  @include breakpoint(md) { font-size: 24px; }
  @include breakpoint(lg) { font-size: 26px; }
}

// For small text

.text-small {
  font-size: 14px !important;
}

.cta {
  font-size: 40px;
  color: #25a0fb;
  text-decoration: none;

  &:hover {
    color: darken(#25a0fb, 20%);
  }
}

button.cta {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}
